[submodule "pilauncher"]
	path = pilauncher
	url = https://github.com/ser-mk/pilauncher.git
[submodule "mclient"]
	path = mclient
	url = https://github.com/ser-mk/mclient.git
[submodule "piball"]
	path = piball
	url = https://github.com/ser-mk/piball.git
